@font-face {
    font-family: 'Formular';
    src: local('Formular'),
        url('~src/fonts/Formular.woff2') format('woff2'),
        url('~src/fonts/Formular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular-Medium'),
        url('~src/fonts/Formular-Medium.woff2') format('woff2'),
        url('~src/fonts/Formular-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular-Bold'),
        url('~src/fonts/Formular-Bold.woff2') format('woff2'),
        url('~src/fonts/Formular-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
