h1,
.heading-1 {
    font: bold 32px $font;
    margin: 0 0 16px;
}

h2,
.heading-2 {
    font: 500 24px $font;
    margin: 0 0 22px;
}

h3,
.heading-3 {
    font: 500 22px $font;
}

h4,
.heading-4 {
    font: 500 16px $font;
}

h5,
.heading-5 {
    font: 500 12px $font;
}
