@mixin button {
    background: $cBlack;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    color: $color;
    font-weight: 500;
    font-size: 22px;
    line-height: 64px;
    height: 64px;
    padding: 0 40px;
    text-align: center;
    white-space: nowrap;
    transition: .2s ease-in-out opacity, .2s ease-in-out color, .2s ease-in-out background;

    &:hover {
        opacity: .6;
    }
    &:active,
    &:focus {
        outline: none;
        opacity: 1;
    }
    &:disabled {
        opacity: .6;
    }
}

.button,
button,
input[type="button"],
input[type="submit"] {
    @include button;
}
