.form {
    &_section {
        border-top: 1px solid $cInput;
        padding: 32px 0 0;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }
    }
    &_columns {
        display: flex;
    }
    &_column {
        width: 50%;
    }
    &_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 32px;

        &__indent-left {
            padding-left: 96px;
            justify-content: flex-start;
        }
    }
    &_cell:not(:first-child) {
        margin-left: 40px;
    }
}
