
$font: 'Formlar', Helvetica, Arial;
$font-size: 16px;

$color: #fff;
$cRed: #FF3951;
$cBlack: #000;
$cDarkest: #151617;
$cDark: #222426;
$cGrey: rgb(91, 91, 91);
$cYellow: #F9C744;
$cGreen: #34CC67;
$cViolet: #5B53FF;
$cBlue: #0086FF;
$cPurple: #C23DD6;

$cInput: #323335;
$cInput__hover: #434546;
$cInput__active:#5B53FF;
$cInput__active-hover:#655dff;

$border-radius: 16px;
$letter-spacing: 0.15px;

// easings
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easeInOutCirc;